div._3IUli:has(button.autolingo-autosolve) {
    /* Top info bar with no hearts nor extra buttons */
    /* path: alphabets */
    grid-template-columns: repeat(2, min-content) 1fr;
}

div._3IUli.JIlmf:has(button.autolingo-autosolve) {
    /* Top info bar with visible hearts. */
    /* path: lesson, legendary */
    grid-template-columns: repeat(3, min-content) 1fr min-content;
}

div._3IUli._2LO8p:has(button.autolingo-autosolve) {
    /* Top info bar with no hearts. */
    /* path: practice */
    grid-template-columns: repeat(3, min-content) 1fr min-content;
}

div._3IUli.HE-2A:has(button.autolingo-autosolve) {
    /* Top info bar with three hearts. */
    /* path: unit_test */
    grid-template-columns: repeat(2, min-content) 1fr min-content;
}

div._8Tgfo div.hiddeable {
    display: none;
}

button.autolingo-autosolve {
    filter: invert(1);
}

button.autolingo-solve {
    margin-top: 10px;
}